@import "abstracts/mixin.scss";
@import "abstracts/variables.scss";

.content {
    display: flex;
    align-self: center;
    justify-content: center;
}

.content__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-image {
    
    position: relative;
    background: url(../../img/index-background-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-size: 320px 310px;
    height: 480px;
    width: 320px;
    color: $basic_white;

    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: column;
        background: none;
        width: $tablet-width;
        color: $basic_black;
        align-items: flex-start;
        height: 810px;
        margin-left: 150px;
        margin-top: 10px;
    }

    @media (min-width: $desktop-width) {
        width: $desktop-width;
        margin-left: 330px;
        margin-top: 65px;
        height: min-content;
    }
}

.content-image::before {
    @media (min-width: $desktop-width) {
        content: "";
        position: absolute;
        background: url(../../img/index-background-desktop@1x.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 695px;
        z-index: -9999;
        top: -180px;
        left: 535px;
    }
}

.content-image__container {
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet-width) {
        flex-direction: column-reverse;
    }
}

.content-image__additional {
    background: url(../../img/index-can-mobile@1x.png);
    background-repeat: no-repeat;
    width: 280px;
    height: 270px;
    width: 100%;
    margin: 25px 0 0 20px;
    color: $basic_white;
    @media (min-width: $tablet-width) {
        position: absolute;
        z-index: -1;
        width: $tablet-width;
        color: $basic_black;
        background: url(../../img/index-can-tablet@1x.jpg);
        width: 709px;
        height: 609px;
        top: 220px;
        right: 145px;
    }

    @media (min-width: $desktop-width) {
        background: url(../../img/index-can-desktop@1x.png);
        top: -60px;
        right: 515px;
        width: 552px;
        height: 499px;
    }
}

.content__header {
    @include H1Center;
    font-size: 36px;
    padding: 5px;
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
        font-size: 60px;
        line-height: 60px;
        text-align: left;
    }
}

.content__text {
    @include IndentZero;
    text-align: center;
}

.content-text {
    @include IndentZero;

    text-align: center;
    text-transform: uppercase;

    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    margin-top: 16px;

    @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 20px;
        text-align: left;
        margin-top: 35px;
        margin-left: 5px;
    }
}

.content-button {
    @include Button;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 11px 74px 11px 74px;

    @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 0px;
        margin-top: 50px;
        padding: 25px 25px 30px 25px;
    }
}