.example {
    background: $background-grey;
    width: 279px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    padding: 30px 20px 0 20px;
}

.example__title {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
}

.example__description {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    padding-top: 16px;
}

.example-wrapper {
    display: flex;
    margin-top: 39px;
}


.weigth-text {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    word-wrap: none;
    overflow: hidden;
    text-transform: uppercase;
    border: 1px solid $special_grey;
    padding: 5px 45px 10px 43px;

}

.example__weight {
    position: relative;
}
.weigth-title {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    opacity: .99;
    background-color: $background-grey; 
    padding-top: 0px;

    width: 87px;
    margin-top: 10px;
    margin-left: 18px;
}

.example-time {
    margin-left: 35px;
}

.time-text {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;

    text-transform: uppercase;
    border: 1px solid $special_grey;
    padding: 5px 25px 13px 20px;

}

.time-title {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;

    background-color: $background-grey; 

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    opacity: .99;
    
    width: 87px;
    margin-top: 10px;
    margin-left: 18px;
}

.example__coast {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    text-transform: uppercase;

    margin-top: 20px;
}

.example-cat__wrapper {
    position: relative;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    
    padding-bottom: 38px;
    background: $background-grey;
}

.example-cat::before {
    content: "";
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 20px;
    background: $background-grey;
    top: -36px;
    padding-bottom: 20px;
}

.example-cat {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 35px;
    height: 290px;
   
}

.example__cat-before {
    background: url(../../img/before-mobile@1x.png);
    background-repeat: no-repeat;
    width: 311px;
    height: 290px;
}

.example__cat--before {
    @include VisuallyHidden;
    display: none;
    background: url(../../img/after-mobile@1x.png);
    background-size: cover;
}

.example-controller {
    margin-top: 30px;
}

// .controller__button {
//     border: 0;
//     text-transform: uppercase;
    
// }