.features {
    width: 279px;
    margin-left: auto;
    margin-right: auto;
}

.features__title {
    margin: 0;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
}

.features__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-wrap: wrap;
    margin-top: 45px;
    gap: 25px;
}

.features__item {
    @include UnstyledList;
    margin-left: 40px;
}

.features__text {
    margin: 0;
    // margin: 14px 0 15px 0;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}