.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 32px;
}

.form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    width: 320px;
}

.form__title {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    margin: 30px 0 0 25px;
}

.form__text {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 40px 0 0 24px;
}

.form__list {
    margin: 7px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 17px;
}

.form__item {
    @include UnstyledList;
    display: flex;
    margin: 0 0 0 10px;
}

.form__group {
    display: flex;
    flex-direction: column;
    border: 0;
    flex-wrap: wrap;
    gap: 30px;
}

.form__group-bordered {
    padding-bottom: 25px;
    border-bottom: 1px solid $border-color;
}

.form__label {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    padding-top: 11px;
    min-width: fit-content;
    text-transform: uppercase;
}

.form__input-text {
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    flex:1;
    width: 100%;
    padding: 15px 10px 10px 15px;
    margin-left: 10px;
}

.form__input-text::placeholder {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;
}

.form__container-group {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    flex-wrap: wrap;
    gap: 15px;
}

.form__label-radio {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.from__list-target {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    margin-left: 5px;
}

.form__group-title {
    border: 0;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;

    margin-top: 25px;
}

.form__group-contacts {
    margin: 10px 0 0 6px;
}

.from__list-contacts {
    margin-top: 30px;
    margin-left: -5px;
}

.form__group-title-comment {
    margin-left: 5px;
}

.form__textarea {
    border: 1px solid $basic_grey;
    box-sizing: border-box;
    resize: none;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: $special_dark-grey;
    text-transform: uppercase;
    width: 100%;
    height: 150px;
    padding: 13px 0px 0 15px;
    margin: 30px 0px 0 5px;
}

.form__list-additional {
    margin-top: 20px;
    gap: 0px;
}

.form__submit {
    @include Button;
    border: 0;
    width: 280px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.form__description {
    align-self: center;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    margin:5px 0 0 5px;
}