.gift {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center; 
}

.gift__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(../../img/gift-photo-mobile@1x.jpg);
    background-repeat: no-repeat;
    
    margin-top: 55px;
    padding-top: 35px;
    border-top: 1px solid $special_grey;

    align-self: center;
    width: 280px;
    height: 289px;
}

.gift__icon {
    fill: $basic_white;
    margin-top: 30px;
}

.gift__text {
    color: $basic_white;

    margin-bottom: 75px;
    width: 180px;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}